body, html {
    background-color: #7AC39C;
    background-image: url(../images/tatddbg.png);
}

h1 {
    color: #008080
}

#headerlink, #btntitle, #conname, #coninfo, #resultsnum {
    color: #2d4b3a;
}