@keyframes goup {
    0% {transform:translateY(10px) scale(0.99); opacity:0;}
    100% {transform:translateY(0) scale(1); opacity:1;}
}

@keyframes arrow {
    0% {transform:translateX(0)}
    50% {transform:translateX(-5px);}
    100% {transform:translateX(0);}
}

* {
    font-family: "Rubik";
}

header {
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 15px;
    margin: -8px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    mask: linear-gradient(0deg, transparent, black 50%);
    z-index: 1;
}

body, html {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 99%;
}

h1 {
    color: #008080;
}

#headerlink {
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

#activeheader {
    color: black;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
}

#backarrow {
    margin-right: 10px;
    margin-left: 15px;
}

#backarrow:hover {
    animation-name: arrow;
    animation-duration: 500ms;
}


#tatdd {
    width: 200px;
    margin-top: 20px;
    animation-name: goup;
    animation-duration: 1s;
    margin-bottom: 40px;
}

#tatdddiv {
    display: flex;
    justify-content: center;
}

#btntitle {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    margin-bottom: 15px;
}

#contestant {
    display: flex;
    justify-content: left;
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    background-color: transparent;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    backdrop-filter: blur(10px);
    filter: brightness(1.1);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2) inset;
    min-width: fit-content;
    padding-right: 15px;
    animation-name: goup;
    animation-duration: 1s;
    animation-delay: calc(var(--animation-order) * 25ms);
    animation-fill-mode: backwards;
}

#contestant:hover {
    transform: scale(1.01);
    filter: brightness(1.2);
}

#contestant img {
    margin-right: 10px;
    border-radius: 15px;
    filter: brightness(0.9);
}

#conname {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -14px;
}

#coninfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#button {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: 400px;
    height: 70px;
    align-items: center;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    backdrop-filter: blur(10px);
    filter: brightness(1.1);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2) inset;
    animation-name: goup;
    animation-duration: 1s;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
}

#button:hover {
    transform: scale(1.03);
    filter: brightness(1.2);
}

#buttons {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#middle {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    background-color: transparent;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    backdrop-filter: blur(10px);
    filter: brightness(1.1);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2) inset;
    animation-name: goup;
    animation-duration: 1s;
    animation-delay: calc(var(--animation-order) * 25ms);
    animation-fill-mode: backwards;
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
}

#resultsnum {
    font-size: 25px;
    font-weight: 600;
}
