@keyframes goup {
    0% {transform:translateY(10px) scale(0.98); opacity:0;}
    100% {transform:translateY(0) scale(1); opacity:1;}
}

* {
    font-family: "Rubik";
    color: white
}

header {
    padding: 15px;
    margin: -8px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

header::before {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    z-index: -1;
    height: 65px;
    backdrop-filter: blur(10px);
    mask: linear-gradient(0deg, transparent, black 50%);
    background-color: rgba(25, 25, 25, 0.3);
}

body, html {
    background-color: #191919;
    background-image: url(/images/bg.png);
    height: 99%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: contain;
}

#headerlink {
    color: white;
    font-weight: 400;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    filter: drop-shadow(0 0px 7px rgba(0, 0, 0, 0.8));
}

#activeheader {
    color: black;
    font-weight: 600;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.3));
}

#tatmage {
    margin-right: 15px;
    margin-left: 10px;
    filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.3));
}

.seasonbutton {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    padding: 40px;
    justify-content: center;
    border-radius: 30px;
    height: 200px;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 40%;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2) inset,
    0 8px 20px 0 rgba(0, 0, 0, 0.1);
    animation-name: goup;
    animation-duration: 1s;
    animation-delay: calc(var(--animation-order) * 75ms);
    animation-fill-mode: backwards;
    margin-bottom: 15px;
}

.seasonbutton img {
    filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.1));
}

.seasonbutton:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
}

.seasonbutton:active {
    transform: scale(1);
    transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

#tatdd {
    background-color: #7AC39C;
    background-image: url("./images/tatddbg.png");
    background-position: right bottom;
    background-size: fit;
}

#tatglobal {
    background-color: #7AC39C;
    background-image: url("./images/tatglobalbg.png");
}

#tatjh {
    background-color: #7AC39C;
    background-image: url("./images/tatjhbg.png");
}

#tatmp {
    background-color: #7AC39C;
    background-image: url("./images/tatmpbg.png");
}

#tatsa {
    background-color: #28323C;
    background-image: url("./images/tatsabg.png");
}

#tatss {
    background-color: #28323C;
    background-image: url("./images/tatssbg.png");
}

#seasons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    margin-top: 10px;
}

#cautiontape {
    background-image: url(images/cautiontape.jpg);
    height: 50px;
    background-size: contain;
    margin: -8px;
}

#headerlink:hover {
    background-color: rgba(255, 255, 255, 0.3);
    filter: brightness(1.5)
}

a {
    color: #43DDFF;
}

#construction {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
}

#underconstruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#middle {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#discord {
    background-color: #313338;
}

#tatrecap {
    background-color: #3a664e;
}

#mpclicker {
    background-color: #7e5d1c;
}

iframe {
    border-radius: 15px;
}

#title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.1));
}

#description {
    font-size: 25px;
    margin-top: -20px;
    text-align: center;
    filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.1));
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    max-width: 900px;
    border-radius: 30px;
    padding: 50px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2) inset,
    0 8px 20px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 50vw rgba(0, 0, 0,0.7);
    margin-bottom: 5px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    animation-name: goup;
    animation-duration: 1s;
    animation-delay: calc(var(--animation-order) * 75ms);
    animation-fill-mode: backwards;
}

.contestantsbg {
    background-image: url(/images/contestants.png);
    background-size: 200%;

}

.rounded {
    border-radius: 20px;
}

#emerald {
    background-image: url(/images/Host\ Icons/Emeraldbg.png);
    background-size: cover;
}

#grapejuice {
    background-image: url(/images/Host\ Icons/Grape\ Juicebg.png);
    background-size: cover;
}

#pme {
    background-image: url(/images/Host\ Icons/PMEbg.png);
    background-size: cover;
}

#lightsaber {
    background-image: url(/images/Host\ Icons/Lightsaberbg.png);
    background-size: cover;
}

.column {
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-direction: column;
}

.grow {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    min-width: none;
    max-width: 900px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 5px;;
}

.column p, .column img, .seasonbutton img {
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    animation-name: goup;
    animation-duration: 1s;
    animation-delay: calc(var(--animation-order) * 75ms);
    animation-fill-mode: backwards;
}

.seasonbutton:hover img {
    transform: scale(1.05);
}