@keyframes goup {
    0% {transform:translateY(10px) scale(0.99); opacity:0;}
    100% {transform:translateY(0) scale(1); opacity:1;}
}

* {
    font-family: "Rubik";
    color: white
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 15px;
    margin: -8px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

body, html {
    background-color: #222;
    height: 99%;
}

#headerlink {
    color: white;
    font-weight: 400;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#activeheader {
    color: black;
    font-weight: 600;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-radius: 20px;
}

#tatmage {
    margin-right: 15px;
    margin-left: 10px;
}

.seasonbutton {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    padding: 40px;
    justify-content: center;
    border-radius: 30px;
    height: 200px;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 40%;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.2) inset;
    animation-name: goup;
    animation-duration: 500ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: backwards;
}

.seasonbutton:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
}

.seasonbutton:active {
    transform: scale(1);
    transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

#tatdd {
    background-color: #7AC39C;
    background-image: url("./images/tatddbg.png");
    background-position: right bottom;
    background-size: fit;
}

#tatglobal {
    background-color: #7AC39C;
    background-image: url("./images/tatglobalbg.png");
}

#tatjh {
    background-color: #7AC39C;
    background-image: url("./images/tatjhbg.png");
}

#tatmp {
    background-color: #7AC39C;
    background-image: url("./images/tatmpbg.png");
}

#tatsa {
    background-color: #28323C;
    background-image: url("./images/tatsabg.png");
}

#tatss {
    background-color: #28323C;
    background-image: url("./images/tatssbg.png");
}

#seasons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    margin-bottom: 15px;
}

#cautiontape {
    background-image: url(images/cautiontape.jpg);
    height: 50px;
    background-size: contain;
    margin: -8px;
}

#headerlink:hover {
    background-color: #333;
}

a {
    color: #43DDFF;
}

#construction {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
}

#underconstruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#middle {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
