body, html {
    background-color: #7AC39C;
    background-image: url(../../images/tatglobalbg.png);
}

h1 {
    color: #008080
}

#btntitle, #conname, #coninfo, #resultsnum {
    color: #2d4b3a;
}

#headerlink, .material-symbols-outlined {
    color: white;
}