body, html {
    background-color: #7AC39C;
    background-image: url(../../images/tatddbg.png);
    background-position: right bottom;
    background-size: contain;
}

#btntitle, #conname, #coninfo, #resultsnum {
    color: #2d4b3a;
}


#headerlink, .material-symbols-outlined {
    color: white;
}