body, html {
    background-color: #7AC39C;
    background-image: url(../../images/tatssbg.png);
}

h1 {
    color: #008080
}

#headerlink, #btntitle, #conname, #coninfo, #resultsnum {
    color: white;
}

.material-symbols-outlined {
    color: white;
}

#conname {
    margin-bottom: 14px;
}